
<p-card  class="p-4 content" *ngFor="let comida of comidas">
    <p-card header="{{comida.nombre}}" subheader="{{comida.descripcion}}">
        <ng-template pTemplate="header">
          <img [src]=" comida.image"  alt="{{comida.nombre}}" style="border-radius: 30%; background-color: #fff; width: 10%">
        </ng-template>
        <div>
        <p-button label="Añadir Ingredientes" [routerLink]="['/admin/add-ingrediente', comida.id, comida.nombre]" icon="pi pi-plus" styleClass="p-button-outlined p-button-success m-2" badgeClass="p-badge-danger"></p-button>

        <p-button label="Estrellas" icon="pi pi-star" styleClass="p-button-outlined p-button-success m-2" badge="{{comida.stars}}" badgeClass="p-badge-danger"></p-button>

        <p-button label="Precio"  icon="pi pi-dollar" styleClass="p-button-outlined p-button-success m-2" badge="{{comida.price}}" badgeClass="p-badge-danger"></p-button>

        <p-button label="Actualizar"  [routerLink]="['/admin/update-comida', comida.id]" icon="pi pi-refresh" styleClass="p-button-outlined p-button-success m-2" badgeClass="p-badge-danger"></p-button>


        <div class="ingredient-list">
          <div *ngFor="let ingredient of comida.ingredientes" class="ingredient-item">
            <p>{{ingredient.nombre}}</p>
          </div>
        </div>


        <div class="text-right mr-5">

        <p-button icon="pi pi-trash" (click)="eliminarComida(comida.id)" styleClass="p-button-rounded p-button-danger"></p-button>
    </div>
    </div>
    </p-card>
</p-card>
<div >
    <p-button routerLink="/admin/add-comida" id="boton-fijo"  label="Agregar Comida" styleClass="m-5 boton-fijo" icon="pi pi-plus"></p-button>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '40vw'}"></p-confirmDialog>
